body {
    background: black;
    color: white;
}

.first {padding-left: 50px}

.kakko {font-size: small;}

.bui {padding-left: 50px;}

.flex1 {
    display: flex;
    justify-content: space-between;
    max-width: 820px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.img1 {width: 600px}

.img5 {width: 160px}

.little {
    padding-left: 50px;
}

.img2 {
    width: 100px;
    transform-origin: top left;
}
  
.img2:hover {
    transform: scale(4, 4);
}

.orei {padding-left: 800px;}
